/* INTERESTS */

.func .interests-items {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: 1px solid var(--base-border);
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.func .interests-items div {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    text-align: center;
}

.func .interests-items div i {
    font-size: 50px; 
    line-height: 60px;
    color: var(--color-main);
    transition-duration: 0.3s;
    display: block;
}

.func .interests-items div:hover i {
    transform: scale(1.2);
    font-size: 45px;
    line-height: 80px;
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover span,
.func .interests-items div:hover span small {
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: var(--color-func);
    transition-duration: 0.3s;
}

.func .interests-items div:hover i span {
    display: block;
}

@media screen and (max-width: 768px) {
    .resume .base,
    .resume .func {
        padding: 15px;
    }
    
    .func h3 i {
        font-size: 14px;
        width: 28px;
        height: 28px;
        line-height: 28px;
    }

    .func .interests-items div {
        width: 30%;
    }
}

/*Navigation Bar*/
.custom-toggle {
    position: fixed;
    top: -5%;
    right: 50px; /* Position at the very right */
    display: block;
    width: 35px;
    height: 35px;
    margin: 90px auto; /* Adjust margin as needed */
    z-index: 20;
}

.custom-toggle span:after,
.custom-toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
.custom-toggle span:after{
    top: 9px;
}
.custom-toggle span {
    position: relative;
    display: block;
}

.custom-toggle span,
.custom-toggle span:after,
.custom-toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #909090;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
    z-index: 20;
}

/* on activation */
.custom-toggle.on span {
    background-color: transparent;
}

.custom-toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

.custom-toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

.custom-toggle.on + .custom-menu {
    opacity: 1;
    visibility: visible;
}

/* menu appearance*/
.custom-menu {
    position: fixed;
    color: #565656;
    width: 200px;
    padding: 15px;
    right: 10px;
    top: 95px;
    margin-top: 1px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    z-index: 20;
}

.custom-menu:after {
    position: absolute;
    top: -15px;
    left: 69%;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    z-index: 20;
}

.custom-menu ul,
.custom-menu li,
.custom-menu li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.custom-menu li a {
    padding: 5px;
    color: #565656;
    text-decoration: none;
    transition: all .2s;
}

.custom-menu li a:hover,
.custom-menu li a:focus {
    background: #565656;
    color: #fff;
}
/*-------------*/