#photography {
    font-family: "Sen";
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#photography * {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: none;
    user-select: none;
    -webkit-user-drag: none;
}

#photography h2.title {
    margin-top: 50px;
}

#photography #main {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

#photography .part {
    flex: 1;
}

#photography .section {
    height: 100vh;
    overflow: hidden;
}

#photography .section img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#photography .left-img img {
    transform-origin: left;
}

#photography .right-img img {
    transform-origin: right;
}

 #photography .center-img img {
    transform-origin: center;
}

#photography .left-img img.active {
    transform: translateX(0%);
}

#photography .right-img img.active {
    transform: translateX(-50%);
}

#photography .center-img img.active {
    transform: translateX(-25%);
}

#photography .cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    mix-blend-mode: difference;
}

#photography .cursor-f {
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.4202 42.4202C38.8403 46 33.3594 46 23.5 46C13.6406 46 8.15966 46 4.57983 42.4202C1 38.8403 1 33.3594 1 23.5C1 13.6406 1 8.15966 4.57983 4.57983C8.15966 1 13.6406 1 23.5 1C33.3594 1 38.8403 1 42.4202 4.57983C46 8.15966 46 13.6406 46 23.5C46 33.3594 46 38.8403 42.4202 42.4202Z' stroke='white'/%3E%3C/svg%3E%0A");
    background-size: cover;
    mix-blend-mode: difference;
    pointer-events: none;
    opacity: 0.5;
}

#photography .buttons {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

#photography .buttons button {
    border: none;
    background-size: contain;
    background: url("data:image/svg+xml,%3Csvg width='10' height='29' viewBox='0 0 10 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0V27L1 17.4857' stroke='white' stroke-width='2' /%3E%3C/svg%3E%0A") no-repeat;
    background-position: center;
    width: 10px;
    height: 30px;
    display: block;
    margin: 20px 0;
    padding: 0 15px;
    transition-duration: .6s;
}

#photography .buttons button.next {
    transform: scaleY(-1);
}

#photography .buttons button.prev:active {
    transform: translateY(8px);
}

#photography .buttons button.next:active {
    transform: scaleY(-1) translateY(8px);
}

#photography h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    color: white;
    text-align: center;
    font-size: 2.6em;
    mix-blend-mode: overlay;
    pointer-events: none;
}

#photography .content {
    width: 90%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    z-index: 99;
    font-size: .8em;
}

#photography .content p {
    margin: .5em auto;
}

#photography .content kbd {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 3px;
    font-size: .9em;
    vertical-align: text-top;
}

#photography .content a {
    color: rgba(227, 227, 227, 0.78);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

#photography .content a:hover {
    padding-bottom: 1px;
}
