* {
    font-family: 'Nunito Sans', "Lato", "Calibri", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 17px;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    color: #011640;
    overflow-x: hidden;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20rem;
    font-weight: 600;
    margin: 8rem 0 2rem 0;
}

@media (max-width: 650px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    margin-bottom: 3rem;
}

.title {
    font-size: 2rem;
}

.sentence {
    font-size: 1.5rem;
}

li {
    list-style: none;
}

a {
    color: #011640;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Navigation */

.size {
    font-size: 0.5rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    background-color: #eee;
    box-shadow: 0 1rem 1rem -1rem rgba(5, 20, 50, 0.2);
    z-index: 20;
    font-weight: 50px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    padding: 0px 0.8rem;
}

nav .code {
    color: #eee;
    transition: color 0.3s ease-out;
}

nav a:hover .code {
    color: #6d93f4;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style: none;
    margin-left: 20px;
}

.navigation li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
    font-size: clamp(0.9rem, 6vw, 1rem);
}

.navigation li a:hover,
.navigation li a.active {
    background: #565656;
    color: #eee;
    }

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150dvh;
    background: rgb(206, 245, 223);
    background: radial-gradient(
        circle,
        rgba(206, 245, 223, 0.4) 34%,
        rgba(206, 245, 223, 1) 68%
    );
}

.parallax img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/* Contact section */

#contact {
    text-align: center;
    background-color: #081838;
    color: #fff;
}

.contact-icon {
    width: 2rem;
    padding: 1rem;
    filter: invert(100%);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contact-details:hover {
    color: #6d93f4;
}

/* Welcome section */

#welcome-section {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

@media (max-width: 1000px) {
    #welcome-section {
        text-align: center;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.welcome-img  {
    margin-top: 8rem;
    width: 800px;
    height: auto;
}

#mobile-only {
    display: none;
}

@media (max-width: 850px){
    #desktop-only {
        display: none;
    }

    #mobile-only {
        display: initial;
        width: 450px;
        height: auto;
    }
}

#subheading {
    font-size: 5rem;
    font-weight: 600;
    margin: 2rem 0;
}

#subheading span {
    color: #79a3f2;
}

@media (max-width: 700px){
    #subheading {
        font-size: 4rem;
    }
}

/* About section */

#about {
    padding: 10rem 10rem 10rem 10rem;
}

#about h2 {
    text-align: center;
}

#about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

@media (max-width: 850px) {
    #about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

#my-story {
    width: 100%;
    padding: 0 2rem;
    font-size: 20px;
}

#interests-list {
    background-color: #eee;
    color: #565656;
    padding: 4rem;
    border-radius: 20px;
}

@media (max-width: 850px) {
    #my-story {
        width: 100%;
        margin-bottom: 3rem;
    }

    #interests-list {
        margin: auto;
    }
}

#interests-list > h3 {
    text-align: center;
    padding-bottom: 2rem;
}

/* Projects section */

#projects {
    padding: 10rem 5rem;
    text-align: center;
}

#projects > p {
    margin-bottom: 5rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5rem;
    margin: 1.5rem auto;
}

.projects-slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
}

.project-card {
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: fadeIn 6s infinite alternate;
    position: relative;
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.project-card.active .project-content {
    transform: translateX(0);
}

.project-card img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 10px;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.sentence {
    font-size: 1rem;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Center the columns horizontally for medium-sized screens */
@media (max-width: 850px) {
    .projects-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Center the columns horizontally for small screens */
@media (max-width: 400px) {
    .projects-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

.project_card {
    position: relative;
    padding-bottom: 2rem;
    border: 1px solid rgba(192, 191, 191, 0.5);
    border-radius: 5px;
    display: flex; /* Make cards a flex container */
    flex-direction: column; /* Stack project_card content vertically */
    align-items: center; /* Center project_card content horizontally */
}

.project_card:hover {
    box-shadow: 0 0 2rem -0.7rem #D9D9D9;
    border: 1px solid #D9D9D9;
}

.desc {
    padding: 1rem;
    text-align: left;
}

.project-tile {
    margin: 1rem 0 1rem 0;
}

.project-tile > a {
    color: #5f82d2;
}